/node_modules
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
/public/css
/public/js
/public/img
/public/fonts
/public/storage
/public/images
/public/hot
/public/mix-manifest.json
/public/vendor/nova
/public/vendor/horizon
.DS_Store
mixconfig.js
/resources/js/api_client_config.json
