#admin-container {
  min-height: calc(100vh - 4rem);

  .main-menu {
    &:not(.el-menu--collapse) {
      @apply w-52;
    }
  }

  .el-page-header {
    &.no-back {
      .el-page-header__left {
        display: none !important;
      }
    }
  }

  .el-loading-spinner {
    @apply flex items-center justify-center;
  }

  .el-input.is-disabled {
    .el-input__inner {
      color: #606266;
      cursor: default;
    }
  }
}
